<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/style2.css">
        <title>Chat App Base QKD</title>
    </head>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdn.socket.io/4.4.1/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            var socket, socket2;
            var user1, user2; 
            var hashkey, truncatedKey;
            $(document).ready(function(){
                socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
                // socket = io.connect('http://' + document.domain + ':' + location.port);
                socket.on('connect', function() {
                    socket.emit('joined', {});
                });


                socket.on('status', function(data) {
                    countUser = data.room_user_count;
                    var messageClass = 'user-chat'
                    if (countUser == 2) {
                        let count = data.interval;
                        let timeoutId = null;

                        function countdown() {
                            document.getElementById('progress1').value = count;
                            // document.getElementById('output1').value = count + 'sec';
        
                            if (count <= 0) {
                                clearTimeout(timeoutId);
                            }
                                count -= 1;
                            }
                        // 最初に一度実行
                        countdown();

                        // 1秒ごとに実行
                        timeoutId = setInterval(countdown, 1000);
                        hashkey = data.sharekey;
                        // truncatedKey = hashkey.substring(0, 3) + '***********************************************************************************************' + hashkey.slice(-4);
                        $('#share-key').text(hashkey);
                        var messageWithClass = '<span class="' + messageClass + '">' + data.msg + '</span><br>';
                        $('#chat').append(messageWithClass);
                        $('#chat').scrollTop($('#chat')[0].scrollHeight);
                    } else {
                        var messageWithClass = '<span class="' + messageClass + '">' + data.msg + '</span><br>';
                        $('#chat').append(messageWithClass);
                        $('#chat').scrollTop($('#chat')[0].scrollHeight);
                    }
                });


                socket.on('message', function(data) {
                    var usernames =  data.usernames
                    var messageClass = data.sender === usernames[0] ? 'user-chat1' : 'user-chat2';
                    var messageWithClass = '<span class="' + messageClass + '">' + data.msg + '</span><br>';
                    $('#chat').append(messageWithClass);
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                    var messageWithClass = '<span class="' + messageClass + '">' + data.msg + '</span><br>';
                });

                socket.on('update_key', function(data) {
                    var updatehashkey = data.updatekey;
                    console.log('Received update key:', updatehashkey);
                    // var truncatedKey = updatehashkey.substring(0, 3) + '***********************************************************************************************' + updatehashkey.slice(-4);

                    $('#share-key').text(updatehashkey);
                    let count = data.interval;
                    let timeoutId = null;

                    function countdown() {
                        document.getElementById('progress1').value = count;
                        // document.getElementById('output1').value = count + 'sec';
        
                        if (count <= 0) {
                            clearTimeout(timeoutId);
                        }
        
                        count--;
                    }

                    // 最初に一度実行
                    countdown();

                    // 1秒ごとに実行
                    timeoutId = setInterval(countdown, 1000);
                });

                socket.on('messages2', function(message) {
                    $('#messages').append('<p>' + message + '</p>');
                });

                socket.on('server_message', function(msg) {
                    console.log('Message from server:', msg);
                    document.getElementById('message').innerText = msg.data;
                });
                $('#text').keypress(function(e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        text = $('#text').val();
                        $('#text').val('');
                        socket.emit('text', {msg: text});
                    }
                });
            });
            function leave_room() {
                socket.emit('left', {}, function() {
                    socket.disconnect();
                    // go back to the login page
                    window.location.href = "{{ url_for('main.index') }}";
                });
            }

            // function toggleKey() {
            //     var keyElement = document.getElementById('share-key');

            //     if (keyElement.innerHTML === truncatedKey) {
            //         keyElement.innerHTML = hashkey;
            //     } else {
            //         keyElement.innerHTML = truncatedKey;
            //     }
            // }
        </script>
    <!-- ヘッダー -->
    <header>
        <div class="header">
            <div class="header-inner">
                <h1 class="site-title">Chat App Base Quantum Key Distribution</h1>
                <!-- <nav class="nav">
                    <ul class="header-ul">
                        <li class="header-li">
                            <a class="header-link" href="#study">Study</a>
                        </li>
                    </ul>
                </nav> -->
            </div>
        </div>
    </header>

    <section class="about" id="about">
        <div class="wrapper">
            <h2 class="section-title">Chat Room : {{ room }}</h2>
            <div id="messages2"></div>
            <div id="share-key" class="share-key"></div>
            <progress id="progress1" value="0" max="90"></progress>
            <output id="output1"></output> 
            <!-- <div class="sharekey-button">
                <button onclick="toggleKey()">View Key</button>
            </div> -->
            <!-- <span id="message" class="user-chat"></span> -->
            <!-- <textarea id="chat"></textarea><br><br> -->
            <br><br><br><br>
            <div id="chat" contenteditable="false" class="chat-container"></div>
            <input id="text" placeholder="Enter your message here"><br><br>
            <a class="leave" href="#" onclick="leave_room();">Leave this room</a>
        </div>
    </section>

    <!-- フッター -->
    <div class="footer">
        <div class="footer-logo">Chat App Base Quantum Key Distribution</div>
        <div class="footer-list">
          <ul>
            
          </ul>
        </div>
    </div>
</html>

